body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: rgb(48, 51, 54) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (maxwidth: 800px) {
  .details {
    grid-template-columns: 1fr;
  }
}

.buttons {
  padding: 10px;
  margin-left: 10px;
  position: relative;
  cursor: pointer;
  display: inline-block;
  background-color: #2196f3;
  transition: 0.3s ease-out;
  overflow: hidden;
  border: #2196f3;
  border-radius: 2px;
  color: white;
  margin-bottom: 15px;
  box-shadow: 0, 0, 0, 0.14;
  box-sizing: border-box;
}

h6 {
  text-align: center;
}
